div {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  background: url("../images/backpacker.jpg") no-repeat;
  background-size: 100%;
}
img {
  width: 400px;
  height: 400px;
  display: block;
  transform: translateX(50%);
}